<!--Image Upload -->

<h1>(TripAround logo)</h1>
<h3>Welcome, {{userid}}</h3>
<div class="row steps">
  <div class="col-md-3 step step-past">
    <a href="#dashboard">1. Select a map.</a>
  </div>
  <div class="col-md-3 step step-current">
    <a>2. Upload pictures.</a>
  </div>
  <div class="col-md-3 step step-future">
    <a href="#imagegallery">3. Manage your gallery.</a>
  </div>
  <div class="col-md-3 step step-future">
    <a href="#ViewImages">4. Edit your map.</a>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">

  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>Upload images to your <em>{{map}}</em> map. If the images have geo tags, they will be displayed on the map below. Don't forget to save the map before leaving this page!</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <form id="mapform">
      <p id="maptext"><input type="submit" value="Save map" id="savemap" class="btn btn-success btn-sm"></p>
    </form>
  </div>
</div>

<div class="imageupload">
  <div class="imageuploadform">
    <div class="row">
      <div class="col-lg-12">
        <form id="uploadForm2" enctype="multipart/form-data">
          <p id="uploadstatus"></p>
          <div class="col-sm-6">
            <input type="file" name="userPhoto" multiple id="userphoto" />
          </div>
          <!--
          <div class="col-sm-6">
            <p> <input type="submit" value="Upload Image" name="submit" id="submitbutton"></p>
          </div> -->
          <div id="dropzonePreview" class="dropzone">
            <div class="dz-default dz-message"><small class="text-muted">Drop pictures here</small></div>
          </div>
          <span id="status"></span>
        </form>
      </div>
    </div>
  </div>
  <!--finish of uploading forms-->

  <!--Start of Drag and drop form -->
  <!--
  <div id="dragdrop">
    <div class="row">
      <div class="col-lg-12">
        <form id="uploadForm" action="/dragdrop">
          <div id="someid" class="dropzone"></div>
          <input type="submit" value="Upload Image" name="submit" id="dragdropbutton"></p>
        </form>
      </div>
    </div>
  </div> -->

  <!--Start of Google Maps -->
  <div id="googlemapcontainer">
    <div class="row">
      <div class="col-lg-12">
        <div id="googleMap"></div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Tagged Image</h4>
      </div>
      <div class="modal-body">
        <div id="image-des"></div>
        <img id="image-container">

      </div>
      <form id="imagedescription">
        <input type="text" placeholder="Enter Description" id="imageinfo">
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <button type="button" class="btn btn-success" id="imagedescriptionsub">Save</button>
    </div>
  </div>
</div>
