<!-- Description : User can drag drop images to images -->
<h1>(TripAround logo)</h1>
<h3>Welcome, {{userid}}</h3>
<div class="row steps">
  <div class="col-md-3 step step-past">
    <a href="#dashboard">1. Select a map.</a>
  </div>
  <div class="col-md-3 step step-past">
    <a href="#UploadImages">2. Upload pictures.</a>
  </div>
  <div class="col-md-3 step step-past">
    <a href="#imagegallery">3. Manage your gallery.</a>
  </div>
  <div class="col-md-3 step step-current">
    <a>4. Edit your map.</a>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <p id="mapinfo"> You are viewing : {{mapname}} </p>
    <p id="mapinfosec"></p>
  </div>
</div>

<div class="row" id="thumbnail"></div>
<div id="something" class="test"></div>

<div class="row">
  <div class="col-lg-12" id="googlemapcontainer">
    <div id="googleMap"></div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="text-center" role="toolbar">
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-primary" onclick="airplanehandler()"><i class="fa fa-plane" aria-hidden="true"></i> Airplane</button>
        <button type="button" class="btn btn-primary" onclick="bushandler()"><i class="fa fa-bus" aria-hidden="true"></i> Bus</button>
        <button type="button" class="btn btn-primary" onclick="trainhandler()"><i class="fa fa-train" aria-hidden="true"></i> Train</button>
      </div>
      <button type="button" class="btn btn-danger" onclick="ResetAll()"><i class="fa fa-eraser" aria-hidden="true"></i> Erase all</button>
      <button type="button" class="btn btn-success" onclick="SaveData()"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save routes</button>
    </div>
  </div>
</div>


<input id="searchbox" class="controls" type="text" placeholder="Search Box">
<!--Modal Window -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Tagged Image</h4>
      </div>
      <div class="modal-body">
        <div id="image-des"></div>
       <img id="image-container">
        <form id="imagedescription">
          <input type="text" placeholder="Enter Description" id="imageinfo">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success" id="imagedescriptionsub">Save</button>
      </div>
    </div>
  </div>
</div>

<!-- Options Modal -->
<div id="optionsmodal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit this route segment</h4>
      </div>
      <div class="modal-body">
        <p id="infotxt"></p>
        <form>
          <p><label class="form-label">Mode of transportation</label></p>
          <p>
            <label class="radio-inline">
              <input type="radio" id="airplane" name="transport" value="airplane"> Airplane
            </label>
            <label class="radio-inline">
              <input type="radio" id="bus" name="transport" value="bus"> Bus
            </label>
            <label class="radio-inline">
              <input type="radio" id="train" name="transport" value="train"> Train
            </label>
          </p>
          <button class="btn btn-primary" id="editdes">Edit Description</button>
        </form>
      </div>
      <div class="modal-footer" id="optionsfooter">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button class="btn btn-success" id="trailsub">Save</button>
      </div>
    </div>
  </div>
</div>
